<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="dependancies">
    <style>
        .welcome:before {
            background: rgba(251, 188, 5, 0.5) !important;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>APADZ</title>
    <meta name="description" content="Panneau d'administration du système APADZ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{ /css/shards.min.css }">
    <link rel="stylesheet" th:href="@{ /css/shards-extras.min.css?version=2.1.0 }">
    <link rel="stylesheet" th:href="@{ /css/toastr.min.css }">

    <script type="text/javascript" th:src="@{ /js/jquery-3.4.1.min.js }"></script>
    <script type="text/javascript" th:src="@{ /js/toastr.min.js }"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" th:src="@{ /js/shards.min.js }"></script>
    <script type="text/javascript" th:src="@{ /js/app/utils.js }"></script>
    <script type="text/javascript" th:src="@{ /js/app/notifs.js }"></script>
</head>
<body>

</body>
</html>